th, td {
    border: 1px solid black;
    padding: 0.5em;
    text-align: start;
    vertical-align: top;
    max-width: 170px;
}

th {
    color: #eee;
    background: #333;
}

table {
    width: 100%;
    /*table-layout: auto;*/
}

.row {
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}

.tb {
    /*float: left;*/
    /*margin-left: 4%;*/
    width: 33%;
    /*padding: 50px;*/
    /*max-width: 30%;*/
    /*overflow-x: revert;*/
    word-wrap: break-word;
    /*Есть баг, что длинные слова плохо переносятся, есть спец. атрибут для этих случаев*/
}